# fly.toml app configuration file generated for richardhan-server on 2026-02-03T12:59:18+06:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'richardhan-server'
primary_region = 'sin'

[build]
  dockerfile = "Dockerfile"

[deploy]
  release_command = 'npx prisma migrate deploy'

[http_service]
  internal_port = 7000
  force_https = true
  auto_stop_machines = "off"
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
